@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* header */
.header {
    position: fixed;
}
.title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin: 70px;
    font-family: 'Permanent Marker', cursive;
  
}
.boder {
    border: 1px solid black;
    width: 70%;
    display: block;
    margin: 0px auto;
}
.menu {
    font-size: 18px;
    text-align: center;
    display: flex;
    margin-top: 13px;
    margin-left: 43%;
    font-family: 'Lato', sans-serif;
}
.m,.mm,.mmm,.run {
   margin-right: 30px;
}
.main img{
width: 70%;
display: block;
margin: 0px auto;
 margin-top: 13px;
}
/* 섹션 구분선 */
.line img {
    width: 60%;
    display: block;
    margin: 0px auto;
    margin-top: 150px;
}
.part {
    width: 57%;
    margin: 0px auto;
    font-size: 55px;
}
/* 프로젝트 설명 */
.project {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}
/* 프로젝트 제목 */
.projecttitle {
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
/* 1m */
.box1 {
    margin-top: 20px;
    background-color: rgb(255, 167, 95);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 19px;
    margin-bottom: 150px;
}
.box1 strong {
    font-size: 25px;
}
/* 팀,개인 프로젝트 */
.my {
  text-align: center;
  font-size: 40px ;
  margin-bottom: 20px;
}
/* 1m개주프 */
.container {
    width: 400vw;
}
.inner {
    width: 100vw;
    float: right;
}
.inner img {
    width: 600px;
    display: block;
    margin: 0px auto;
    border: 1px solid black;
}
.cont {
    position: relative;
}
.btn1 {
    position: absolute;
    top: 40%;
    left: 21%;
}
.btn2 {
    position: absolute;
    top: 40%;
    right: 20%;
}
.b1 img{
    width: 80px;
 }
/* 2m */
 .box2 {
     background-color: rgb(255, 207, 75);
     width: 60%;
     display: block;
     margin: 0px auto;
     margin-top: 80px;
     padding-top: 50px;
     margin-bottom: 150px;
 }

.m21 img{ 
    display: block;
    margin: 0px auto;
    width: 90%;
    margin-top: 20px;

}
.mm22 img {
 position: absolute;
 width: 20%;
}
.m2txt {
  margin: 5%;
}

/* 3m */
.m31 {
    width: 25%;
    display: block;
    margin: 0px auto;
} 
.m32 {
    text-align: right;
    margin-right: 5%;
    font-size: 40px ;
    margin-bottom: 20px;
}

/* footer */
.foo img {
   width: 10%;
   display: block;
   margin: 0px auto;
}
.fooboder {
    border: 1px solid black;
    width: 70%;
    display: block;
    margin: 0px auto;
}
.footertext {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 15px;
}
.footertext f1,.f2,.f3 {
    margin-right: 100px;
}
.footertext f1 {
    margin-left: -30px;
}
.footertext f3 {
    margin-left: 100px;
}
.footertext strong {
    font-size: 20px;
}
