@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* header */
.header {
    position: fixed;
}
.title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin: 70px;
    font-family: 'Permanent Marker', cursive;
  
}
.boder {
    border: 1px solid black;
    width: 70%;
    display: block;
    margin: 0px auto;
}
.menu {
    font-size: 20px;
    text-align: center;
    display: flex;
    margin-top: 13px;
    margin-left: 45%;
    font-family: 'Architects Daughter', cursive;
}
.mb1,.mb2,.mb3,.mb4 {
   margin-right: 35px;
}
.main img{
width: 70%;
display: block;
margin: 0px auto;
 margin-top: 13px;
}
/* 섹션 구분선 */
.line img {
    width: 60%;
    display: block;
    margin: 0px auto;
    margin-top: 150px;
}
.part {
    width: 57%;
    margin: 0px auto;
    font-size: 55px;
    font-family: 'Bangers', cursive;
}
.part span{
color: rgb(253, 142, 51);
}
/* 프로젝트 설명 */
.project {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}
/* 프로젝트 제목 */
.projecttitle {
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
/* 1m */
.box1 {
    margin-top: 20px;
    background-color: rgb(255, 167, 95);
    text-align: center;
    padding-top: 140px;
    padding-bottom: 120px;
    font-size: 19px;
    margin-bottom: 150px;
}
.box1 strong {
    font-size: 25px;
}
/* 팀,개인 프로젝트 */
.my {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Architects Daughter', cursive;
}
/* 1m개주프 */
.container {
    width: 400vw;
}
.inner {
    width: 100vw;
    float: right;
}
.inner img {
    width: 600px;
    display: block;
    margin: 0px auto;
    border: 1px solid black;
}
.cont {
    position: relative;
}
.btn1 {
    position: absolute;
    top: 40%;
    left: 21%;
}
.btn2 {
    position: absolute;
    top: 40%;
    right: 20%;
}
.b1 img{
    width: 80px;
 }
/* 2m */
 .box2 {
     background-color: rgb(255, 207, 75);
     width: 60%;
     display: block;
     margin: 0px auto;
     margin-top: 80px;
     padding-top: 50px;
     margin-bottom: 150px;
 }

.m21 img{ 
    display: block;
    margin: 0px auto;
    width: 90%;
    margin-top: 20px;

}
.mm22 img {
 position: absolute;
 width: 20%;
}
.m2txt {
  margin: 5%;
}
/* 2m 개주프 */
.container2 {
    width: 400vw;
}
.inner {
    width: 100vw;
    float: right;
}
.inner img {
    width: 600px;
    display: block;
    margin: 0px auto;
    border: 1px solid black;
}
.cont2 {
    position: relative;
}
.btn3 {
    position: absolute;
    top: 40%;
    left: 21%;
}
.btn4 {
    position: absolute;
    top: 40%;
    right: 20%;
}
.b2 img{
    width: 80px;
 }
/* fire 커지게*/
.firecont {
    position: relative;
}
.fire{
    display: block;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 300px;
    margin: 0 auto;
}
.fire img {
    margin-top: 260px;
    margin-bottom: 100px;
}
.fire > img {
    position: absolute;
    top: 20%;
    left: 100%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: transform 1s;
}
.fire:hover > img {
    transform: translate(-50%,-50%) scale(1.2);
}
/* 박스 프로젝트 텍스트 커지게*/
.txtbig {
    position: relative;
}
.txtbig > .probig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: transform 0.6s;
}
.txtbig:hover > .probig {
    transform: translate(-50%,-50%) scale(1.1);
}
/* 3m */
.m32 {
    text-align: right;
    margin-right: 5%;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Architects Daughter', cursive;
}
.m33 img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.m33 {
    position: relative;
}
.m34 {
    position: absolute;
	top: 25%;
    left: 42%;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Architects Daughter', cursive;
}
.m33 strong {
    position: absolute;
	top: 31%;
    left: 39%;
    font-size: 20px;
}
/* 3m 개주프 */
.container3 {
    width: 400vw;
}
.inner {
    width: 100vw;
    float: right;
}
.inner img {
    width: 600px;
    display: block;
    margin: 0px auto;
    border: 1px solid black;
}
.cont3 {
    position: relative;
}
.btn5 {
    position: absolute;
    top: 40%;
    left: 21%;
}
.btn6 {
    position: absolute;
    top: 40%;
    right: 20%;
}
.b3 img{
    width: 80px;
 }

/* 4m */
.map {
    position: relative;
}
.map img {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 150px;
}
.run2 img {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-bottom: 150px;
}
.maptxt {
    position: absolute;
	top: 18%;
    left: 32%;
}
.maptxt2 {
    position: absolute;
	top: 69%;
	left: 32%;
}
.mt1,.mt2{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Architects Daughter', cursive;
}
/* 4m map 밑줄 */
.penn {
    display: inline-table;
    position: relative;
    overflow: hidden;
}
.penn span {
    position: relative;
    z-index: 2;
}
.penn::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 210, 88, 0.6);
    transition: all .40s;
    z-index: 1;
}
.pen:hover .penn::before {
    left: 0;
}
/* footer */
.foo img {
   width: 10%;
   display: block;
   margin: 0px auto;
   margin-bottom: 10px;
}
.fooboder {
    border: 1px solid black;
    width: 70%;
    display: block;
    margin: 0px auto;
}
.footertext {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 17px;
    font-family: 'Architects Daughter', cursive;
}
.footertext f1,.f2,.f3 {
    margin-right:110px;
}
.footertext f1 {
    margin-left: -40px;
}
.footertext f3 {
    margin-left: 140px;
}
.footertext strong {
    font-size: 22px;
}
